DATABASE_URL="file:./dev.db"
GOOGLE_PLACES_API_KEY=""
GOOGLE_CUSTOM_SEARCH_API_KEY=""
GOOGLE_CUSTOM_SEARCH_ENGINE_ID=""
SERPAPI_API_KEY=""
ENABLE_SEED_CONNECTOR=true
ENABLE_GOOGLE_PLACES_CONNECTOR=false
ENABLE_GOOGLE_SEARCH_CONNECTOR=false
ENABLE_SERPAPI_CONNECTOR=false
